@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav p{
  color: #131313;
  font-weight: bold;
  font-size: 3rem;
}
.gray-color{
  max-width: 400px;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
}
 ul li{
  list-style: none;
  font-size: 18px;
  margin-right: 30px;
}
.flex{
  display: flex;
}
nav{
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
ul{
  gap: 50px;
}
.box{
  text-decoration: none;
}
header{
  background: #ff900e1a;
}
.banner-container{
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner h1{
  font-size: 4rem;
  font-weight: 700;
}
.banner img{
  width: 100%;
}
.primary-btn{
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 22px;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 700;
}
.banner button{
  margin-bottom: 50px;
}
.team-text .span1{
  font-weight: bold;
  color: #131313;
}
.team-text .span2{
  font-weight: 700;
  color: #FF900E;
}
.team-text p{
  max-width: 400px;
  font-size: 16px;
  font-weight: 400;
  color: #424242;
}
.team-container{
  max-height: 750px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
 margin: 70px auto;
}
.team{
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2,200px);
  grid-template-rows: repeat(2,200px);
}
.team img{
  width: 100%;
}
.line{
  width: 8px;
  height: 80px;
  background-color: #FF900E;
}
.bold-text{
  display: flex;
  gap: 16px;
  align-items: center;
}
.features-text{
  font-size: 45px;
  font-weight: 700;
}
.features-container{
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.features{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.features-border{
  border-radius: 8px;
    box-shadow: 0px 4px 30px 0px #0000000f;
    background: #ffffff;
    padding: 10px;
}