@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav p{
  color: #131313;
  font-weight: bold;
  font-size: 3rem;
}
.gray-color{
  color: #424242;
}
 ul li{
  list-style: none;
  font-size: 18px;
  margin-right: 30px;
}
.flex{
  display: flex;
}
nav{
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
ul{
  gap: 50px;
}
.box{
  text-decoration: none;
}
header{
  background: #ff900e1a;
}
.banner-container{
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner h1{
  font-size: 4rem;
  font-weight: 700;
}
.banner img{
  width: 100%;
}
.primary-btn{
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 22px;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 700;
}
.banner button{
  margin-bottom: 50px;
}